/* Bottom bar */

.bottbar {
  font-size: 0.7rem;
  align-self: flex-end;
  display: flex;
}

.sponsLogo {
  width: 2.3rem;
  margin: 0.1rem;
}

.mainSponsLogo {
  width: 8rem;
  height: 70%;
  position: relative;
}

.spons_not_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 426px) {
  .bottbar {
    font-size: 1.1rem;
  }
  .sponsLogo {
    width: 3.5rem;
    margin: 0.3rem;
  }
  .mainSponsLogo {
    width: 12rem;
  }
}

/* General */

.main {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  padding: 0.5rem;
  min-height: 100vh;
}

.link {
  color: blue;
  text-decoration: underline;
}

/* Map page */

.map {
  position: fixed;
  bottom: 1rem;
}

.infoBoxContainer {
  position: absolute;
  top: 5rem;
  height: fit-content;
  max-width: 22rem;
  z-index: 2;
  border: solid black;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255, 0.8);
  font-size: 0.5rem;
}

.infoContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10rem;
}

.infoContent p {
  width: 9rem;
  margin-right: 1rem;
}

.infoHeader {
  margin-bottom: 1rem;
  display: flex;
}

.infoLogo {
  width: auto;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.download {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.download a {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

@media only screen and (min-width: 426px) {
  .map {
    left: 4rem;
    bottom: 7rem;
  }
  .infoBoxContainer {
    top: 13rem;
    left: 22rem;
    font-size: 0.75rem;
    max-width: 25rem;
  }
  .infoContent {
    height: 18rem;
  }
  .infoLogo {
    height: 3.2rem;
  }
}

@media only screen and (min-width: 769px) {
  .map {
    left: 8rem;
  }
  .infoBoxContainer {
    left: 30rem;
    font-size: 0.8rem;
    max-width: 30rem;
    padding: 1.5rem;
  }
  .infoContent {
    height: 19rem;
  }
  .infoContent p {
    width: 12rem;
  }
  .infoLogo {
    height: 3.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .map {
    left: 15rem;
    bottom: 3rem;
  }
  .infoBoxContainer {
    left: 40rem;
    font-size: 1rem;
    max-width: 45rem;
  }
  .infoContent {
    height: 20rem;
  }
  .infoContent p {
    width: 15rem;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1441px) {
  .map {
    left: 30rem;
  }
  .infoBoxContainer {
    left: 60rem;
    max-width: 55rem;
    padding: 2rem;
  }
  .infoContent p {
    width: 20rem;
  }
}

/* Artist page */

.konstnarer {
  height: 100rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.placeBox {
  font-size: small;
  height: fit-content;
  width: 21rem;
  border: black solid;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
}

.marg {
  margin-bottom: 1rem;
}

.marg h2 {
  margin-bottom: 0.8rem;
}

.whereGo {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.whereSkylt {
  width: 3rem;
}

.whereText {
  margin-left: 1rem;
}

@media only screen and (min-width: 426px) {
  .placeBox {
    width: 35rem;
  }
}

@media only screen and (min-width: 769px) {
  .konstnarer {
    flex-wrap: wrap;
    width: 55rem;
    height: 115rem;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 1rem;
  }
  .placeBox {
    width: 16.3rem;
  }
  .whereSkylt {
    width: 4rem;
  }
}

@media only screen and (min-width: 1025px) {
  .konstnarer {
    width: 70rem;
    height: 93rem;
  }
  .placeBox {
    width: 15.4rem;
  }
}

@media only screen and (min-width: 1441px) {
  .konstnarer {
    width: 100rem;
    height: 86rem;
  }
  .placeBox {
    width: 23rem;
  }
}

/* Fika page */

.fika {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1.5rem;
  width: 21rem;
  border: black solid;
}

.box p {
  margin-top: 0.5rem;
}

.boxlogo {
  flex: 2;
  margin-right: 1rem;
}

.boxheader {
  flex: 8;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 426px) {
  .box {
    padding: 1.5rem;
    margin-top: 2rem;
    width: 35rem;
  }
  .box p {
    margin-top: 1rem;
  }
  .boxlogo {
    flex: 1.8;
  }
  .boxheader {
    flex: 10;
  }
}

@media only screen and (min-width: 769px) {
  .box {
    width: 45rem;
  }
  .boxlogo {
    flex: 1;
  }
  .boxheader {
    flex: 8;
  }
}

@media only screen and (min-width: 1025px) {
  .box {
    width: 65rem;
  }
  .boxlogo {
    flex: 1;
  }
  .boxheader {
    flex: 12;
  }
}

/* Contact page */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 2rem;
  border: black solid;
}

.contact h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.contact p {
  margin-bottom: 0.75rem;
}

.contact a {
  margin-bottom: 0.75rem;
}

@media only screen and (min-width: 426px) {
  .contact {
    border-radius: 1rem;
    padding: 1.5rem;
    padding-top: 2rem;
  }
  .contact h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .contact p {
    margin-bottom: 1rem;
  }
  .contact a {
    margin-bottom: 1rem;
  }
}
